body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #403C3C;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  font-size: 48px;
}

button {
  background-color: #D62311;
  color: white;
  padding: 12px 48px;
  border-radius: 50ch;
  border: none;
  font-size: 16px;
  font-weight: bold;
}
button:hover {
  background-color: #A11B13;
  cursor: pointer;
}
button:active {
  background-color: #5f0f0b;
}

button.close {
  background-color: transparent;
  color: white;
  padding: 8px 24px;
  font-size: 32px;
  font-weight: normal;
}
button.close:hover {
  cursor: pointer;
}
button.close:active {
  color: lightgray;
}

input[type="search"], select {
  border: 1px solid lightgray;
  border-bottom: 1px solid #403C3C;
  padding: 12px 16px;
}
input[type="search"]:hover, select:hover {
  border-bottom: 2px solid #403C3C;
}
input[type="search"]:focus, select:focus {
  background-color: #F7F0E4;
  outline: none;
}
input[type="range"] {
  accent-color: #D62311;
  width: 100%;
}
input[type="radio"] {
  accent-color: #D62311;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
}

.nav-bar {
  background-color: white;
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid lightgray;
  justify-content: center;
  align-items: stretch;
}
.nav-bar ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  list-style: none;
}
.nav-bar a {
  color: inherit;
  display: flex;
  padding: 0.25rem;
  height: 100%;
  align-items: center;
  text-decoration: none;
}
.nav-bar li:hover {
  background-color: #D62311;
  color: white;
}

.main-body {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 40px 10vw;
  padding: 0;
}

.customer-search {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.customer-search h1{
  text-align: center;
}

.customer-table {
  margin: 40px 0;
  border-collapse: collapse;
  overflow: hidden;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.customer-table th, .customer-table td {
  padding: 20px;
}
.customer-table thead tr {
  background-color: white;
  text-align: left;
}
.customer-table tbody {
  border-top: 2px solid #D62311;
  border-bottom: 2px solid #D62311;
}
.customer-table tr.clickable {
  border-bottom: 1px solid lightgray;
}
.customer-table tr.clickable:hover {
  background-color: #F7F0E4;
  cursor: pointer;
}
.customer-table tr.expanded {
  background-color: white;
  border-bottom: 1px solid lightgray;
}
.customer-table div.houses {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.houseCard {
  background-color: white;
  width: 200px;
  height: 250px;
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.houseCard:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.modelSettings {
  background-color: white;
  overflow: hidden;
  width: 800px;
  max-width: 80%;
  border: 2px solid #D62311;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.modelSettings div.header {
  background-color: #D62311;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.modelSettings div.header h2 {
  padding: 8px 24px;
  margin: 0;

}
.modelSettings div.body {
  margin: 0;
}
.modalBackground {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.inputContainer {
  border-bottom: 1px solid lightgray;
  padding: 0 24px 24px 24px;
}
.inputHeader {
  display: flex;
  align-content: center;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.sliderValue {
  color: #D62311;
  margin: 0 8px;
}