body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.site-title {
  font-size: 2rem;
}

.nav-bar {
  background-color: white;
  color: #ED1D24;
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
  align-items: stretch;
}
.nav-bar ul {
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1rem;
  list-style: none;
}
.nav-bar a {
  color: inherit;
  display: flex;
  padding: 0.25rem;
  height: 100%;
  align-items: center;
  text-decoration: none;
}
.nav-bar li.active {
  background-color: #ED1D24;
  color: white;
}
.nav-bar li:hover {
  background-color: #ED1D24;
  color: white;
}

.main-body {
  display: flex;
  justify-content: center;

  margin: 60px;
}

.customer-table {
  margin: 60px;
  min-width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.customer-table th, .CustomerTable td {
  padding: 20px;
}
.customer-table thead tr {
  background-color: white;
  color: #ED1D24;
  border-bottom: 2px solid #ED1D24;
  text-align: left;
}
.customer-table tbody tr:nth-of-type(odd) {
  background-color:#F4F4F4;
  
}
.customer-table tbody tr:last-of-type {
  border-bottom: 2px solid #ED1D24;
}
.customer-table tbody tr:hover {
  background-color: #ED1D24;
  color: white;
  cursor: pointer;
}